#marco{
    background-color: silver;
}

#fijar {

    text-align: center;
    display: block;
    background-color: seashell;
    width: 100%;

    position: fixed;
}

.inline {
    list-style: none;
    float: left;
}

.inline button{
    background-color: skyblue;
}

.portada {
    display: block;
    float: right;
    block-size: 10% 10% 20%;
}

.end {
    clear: both;
}

.derecha{
    float: right;
}

.izquierda{
    float: left;
}

.bajar{
    padding-top: 320px;
    position: relative;
}