#marco{
    background-image: url("..libros/img/image.jpg");
}

#fijar {

    border: 1px solid;
    text-align: center;
    display: block;
    background-color: seashell;
    width: 96%;

    position: fixed;
    
}

.borde{
    border: 1px solid;
}

.button{
    border: 1px solid;
    width: 186px;
}

.inline {
    list-style: none;
    float: left;
}


.inline button{
    background-color: skyblue;
}

.portada {

    
    display: block;
    border: red 5px solid;
    float: left;
    padding-top: 50px;
    width: 430px;
    height: 510px;
    max-height: 510px;
    text-align: center;


}

.end {
    clear: both;
}

.derecha{
    float: right;
}

.izquierda{
    float: left;
}

.bajar{
    padding-top: 310px;
}